@(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@admin.main(Messages("vip.lounge"))(Messages("edit")) {
	
	<input id="fileupload" type="file" name="files[]" data-url="@routes.FileController.upload" multiple>
		
	@helper.form(action = routes.FileController.upload, 'enctype -> "multipart/form-data") {
	    
<!-- 	    <input type="file" name="picture" multiple="multiple">
 -->	    
	    <p>
	        <input type="submit">
	    </p>
	    
	}
<script src="@routes.Assets.at("javascripts/jquery-file-upload/vendor/jquery.ui.widget.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.iframe-transport.js")"></script>
<script src="@routes.Assets.at("javascripts/jquery-file-upload/jquery.fileupload.js")"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>	
}