@(venueId: Long, sectors: Seq[models.BusinessSector])(implicit flash: Flash)

@scripts = {
    <script src="@routes.BusinessSeatController.javascriptRoutes" type="text/javascript"></script>
}

@admin.main(Messages("business.seats"), scripts)(Messages("business.seats")) {
    <table class="table table-hover">
        <thead>
            <tr>
                <td>@Messages("business.seats.sector")</td>
                <td>@Messages("business.seats.rows.count")</td>
                <td>@Messages("business.class.seats.rows.scheme")</td>
                <td>@Messages("actions")</td>
            </tr>
        </thead>
    @sectors.map { sector =>
        <tr>
            <td><a href="@routes.BusinessSeatController.edit(venueId, sector.id)">@sector.id</a></td>
            <td>1</td>
            <td>@sector.rowScheme</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-mini" href="@routes.BusinessSeatController.edit(sector.venueId, sector.id)">@Messages("edit")</a>
                </div>
            </td>
        </tr>
    }
    </table>


    <div class="actions">
        <input id="new_sector">
        <a href="#" onclick="return addSector()" class="btn btn-primary">@Messages("business.seats.sector.add")</a>
    </div>
    
<script type="text/javascript">
    function addSector() {
        var sectorId = $('#new_sector').val();
        if(sectorId) {
        	window.location=apiRoutes.controllers.BusinessSeatController.edit(@venueId, sectorId).absoluteURL();
        } else {
        	bootstrapAlert.error('@Messages("business.seats.sector.missing")');
        }
        return false;
    }
</script>
}
