@(files: List[models.File])

<table class="table table-hover">
    <thead>
        <tr>
            <td>@Messages("actions")<td>
            <td>@Messages("preview")</td>
        </tr>
    </thead>
    @files.map { file =>
        <tr>
            <td>
                <div class="btn-group btn-group-vertical">
                    <a class="btn btn-mini" href="@routes.FileController.remove(file.id.toString)">@Messages("remove")</a>
                    <a class="btn btn-mini" href="@routes.FileController.remove(file.id.toString)">@Messages("move.up")</a>
                </div>
            </td>
            <td>
            <td>
                <img class="img-rounded" src="@routes.FileController.scaledImage(file.id.toString)">
                <div class="help-block">@file.name</div>
            </td>
        </tr>
    }
</table>
