@(id: Long, eventForm: Form[models.Event], venues: List[(String,String)])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@admin.main(Messages("event"))("Nowy event") {

	@if(eventForm.hasErrors) {
		<div class="alert-message error">
			<p><strong>Oops</strong> Please fix all errors</p>
			<ul>
				@eventForm.errors.map { error =>
					<li>@error.key @error.message</li>
				}
			</ul>
		</div>
	}
  
	@helper.form(action = routes.EventController.update(id)) {
   
        <fieldset>
            <legend>@Messages("general.information")</legend>
            
            @inputText(
                eventForm("name"), 
                '_label -> Messages("event.name")
            )
            
            @textarea(
                eventForm("description"), 
                '_label -> Messages("event.description"),
                'rows -> 3,
                'cols -> 70
            )
            
            @inputDate(
                eventForm("startDate"), 
                '_label -> Messages("event.startdate")
            )
            
            @select(
            	eventForm("eventTypeId"),
            	options("1" -> "Pilka", "2" -> "Siatka"),
            	'_label -> Messages("event.type")
            )
            
            @select(
            	eventForm("venueId"),
            	venues,
            	'_label -> Messages("venue")
            )
            

            @checkbox(
                eventForm("active"), 
                '_label -> Messages("active")
            )
            
            <p><input type="hidden" id="entiled_users" style="width:300px" value="brown"/></p>
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Insert">
            <a href="@routes.EventController.list(1)" class="btn">Cancel</a>
        </div>
     	    
	}
}
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/select2.css")">
<script src="@routes.Assets.at("javascripts/select2.js")" type="text/javascript"></script>
<script type="text/javascript">
<!--
$(document).ready(function() { $("#entiled_users").select2({
    minimumInputLength: 1,
    multiple: true,
    ajax: {
        url: "@routes.UserController.jsonUsers",
        dataType: 'json',
        data: function (term, page) {
            return {
            	q: term
            };
        },
        results: function (data, page) {
            return {results: data.values};
        }
    },
    escapeMarkup: function (m) { return m; }
    });
});
//-->
</script>