@(id: Long,
    eventForm: Form[(models.Event,String)],
    venues: List[(String,String)],
    eventTypes: List[(String,String)]
)(implicit flash: Flash)


@import helper._
@import helper.twitterBootstrap._

@scripts = {
    <script src="@routes.Assets.at("javascripts/select2.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/select2.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")">
}

@admin.main(Messages("event"), scripts)(Messages("event.create")) {
	@admin.tags.validationmessage(eventForm.errors)
    @helper.form(action = routes.EventController.update(id), 'enctype -> "multipart/form-data") {

        <fieldset>
            <legend>@Messages("general.information")</legend>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span8">
                        @inputText(
                            eventForm("name"),
                            '_label -> Messages("event.name"),
                            '_showConstraints -> false
                        )
                    </div>
                    <div class="span1">
                            @admin.tags.inputDateTime(
                                field = eventForm("startDate"),
                                _label = Messages("event.startdate")
                            )
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        @textarea(
                            eventForm("description"),
                            '_label -> Messages("event.description"),
                            'rows -> 20,
                            'cols -> 100
                            )
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span3">
                        @select(
                            eventForm("eventTypeId"),
                            eventTypes,
                            '_label -> Messages("event.type"),
                            '_showConstraints -> false
                        )
                    </div>
                    <div class="span3">
                        @select(
                            eventForm("venueId"),
                            venues,
                            '_label -> Messages("venue"),
                            '_showConstraints -> false
                        )
                    </div>
                    <div class="span3">
                        @checkbox(
                            eventForm("active"),
                            '_label -> Messages("active"),
                            '_showConstraints -> false
                        )
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span8">
                        <label for="@{eventForm("approvers").id}">@Messages("event.select.approvers")</label>
                        <input id="@{eventForm("approvers").id}" type="hidden" name="@{eventForm("approvers").name}"
                            value="@{eventForm("approvers").value}">
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span8">
                        @admin.tags.files("pictures")
                    </div>
                </div>
            </div>
        </fieldset>


        <div class="actions">
            <input type="submit" class="btn btn-primary" value="@if(id == -1){Insert}else{Update}">
            <a href="@routes.EventController.list(1)" class="btn">Cancel</a>
        </div>
     	    
	}
}

<script type="text/javascript">
<!--
$(document).ready(function() {
    $("#approvers").select2({
        placeholder: "@Messages("event.select.approvers")",
        minimumInputLength: 1,
        multiple: true,
        ajax: {
            url: "@routes.UserController.jsonUsers",
            dataType: 'json',
            data: function (term, page) {
                return {
                    q: term
                };
            },
            results: function (data, page) {
                return {results: data.values};
            }
        },
        initSelection: function(element, callback) {
            var result = [];
            $(element.val().split(",")).each(function () {

                $.ajax("@routes.UserController.jsonUserName()", {
                    data: {q: this},
                    dataType: "json",
                    async: false
                }).done(function(data) { result.push({id: this, text: data.name}); });

                //data.push({id: this, text: "test"});
            });
            callback(result);
        },
        escapeMarkup: function (m) { return m; }
        });
});
//-->
</script>

<style>
    input, textarea {
        width: 100%
    }

</style>