@(id: Long, loungesForm: Form[controllers.EventController.VipLoungesAtEvent], loungesNames: Map[Long, String])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@admin.main(Messages("event"))(Messages("event.lounges")) {

	@if(loungesForm.hasErrors) {
		<div class="alert-message error">
			<p><strong>Oops</strong> Please fix all errors</p>
			<ul>
				@loungesForm.errors.map { error =>
					<li>@error.key @error.message</li>
				}
			</ul>
		</div>
	}
  
	@helper.form(action = routes.EventController.updateLounges(id)) {
   
   		@repeat( loungesForm("lounges"), min = 0) { loungeForm =>
   		   <input type="hidden" value="@loungeForm("eventId").value" name="@loungeForm("eventId").name">
   		   <input type="hidden" value="@loungeForm("vipLoungeId").value" name="@loungeForm("vipLoungeId").name">
			<div class="row">
				<span class="span1">
		            @checkbox(
		                loungeForm("active"), 
		                '_label -> Messages("active")
		            )
				</span>
				<span class="span3">@loungesNames(loungeForm("vipLoungeId").value.get.toLong)</span>
				<span class="span1">
		            @inputText(
		                loungeForm("basePrice"), 
		                '_label -> Messages("price")
		            )
				</span>
				
			</div>
		}
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Update">
            <a href="@routes.EventController.list(1)" class="btn">Cancel</a>
        </div>		
	}
}